<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
    colors="true"
    verbose="true"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    stopOnFailure="false">
    <testsuites>
      <testsuite name="Yii2 DB Auto Reconnect Test Suite">
        <directory>./tests</directory>
      </testsuite>
    </testsuites>
</phpunit>
